<?php
/**
 * Template display product list(related,upsell,crosssell)
 */
?>
<?php //$_templateFolder = Mage::helper('ajaxcart')->getTemplateFolder() ?>
<?php //if ($_templateFolder && file_exists(dirname(__FILE__)."/$_templateFolder/display.phtml")): ?>
    <?php //include "$_templateFolder/display.phtml" ?>
<?php //else: ?>

<?php $productParent = $this->getProduct(); ?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_productCollection = $this->getListProduct(); ?>
<?php if (count($_productCollection) > 0): ?>
    <div class="ajaxcart-category-products">
        <span><?php echo $this->__('You may be interested in the following items')?></span>
        <?php $_collectionSize = count($_productCollection); ?>
        <?php $_columnCount = $this->getColumnsCount() ? $this->getColumnsCount() : 3; ?>
        <?php $i = 0;
        foreach ($_productCollection as $_product): ?>
            <?php if ($i++ % $_columnCount == 0): ?>
                <ul class="ajaxcart-products-grid">
                <?php endif ?>
                <li class="ajaxcart-item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(128); ?>" width="128" height="128" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                    <?php if ($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php endif; ?>    
					<?php echo Mage::getBlockSingleton('catalog/product')->getPriceHtml($_product, true) ?>
                    <div class="ajaxcart-actions">						
                        <?php if ($_product->isSaleable()): ?>
                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="ajaxcartEvent=this;setLocation('<?php echo $this->getAddToCartUrl($_product,array('uenc'=>null)) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    </div>
                </li>
                <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                </ul>
            <?php endif ?>
        <?php endforeach ?>
    </div>
<?php endif; ?>


<?php// endif ?>
