<script type="text/javascript" src="<?php echo $this ->getJsUrl().'magestore/promotionalgift/jcarousel/jquery-1.4.2.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo $this ->getJsUrl().'magestore/promotionalgift/jcarousel/jquery.jcarousel.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo $this ->getJsUrl().'magestore/promotionalcartpage.js' ?>"></script>