div.onsale-category-container-grid {
	position: relative;

}

div.onsale-category-container-list {
	position: relative;

}

/* Fix standart Enterprise Theme for List mode */
div.onsale-category-container-list a {
    margin: 0 !important;
}
/* End fix */
/* Fix standart Enterprise Theme for Grid mode */
div.onsale-category-container-grid + h2.product-name {
    clear: both;
}
div.onsale-category-container-list+ h2.product-name {
    clear: both;
}
/* End fix */
.onsale-category-container {
	cursor: pointer;
	position: absolute;
	z-index: 100;
}

div.onsale-category-label {
    position: absolute;
    top: 3px;
    left: 4px;
    margin-left: -2px;
    text-align: center;
}

div.onsale-onsale-category-label-text {
    color:#FFFFFF;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
}

div.new-onsale-category-label-text {
    color:#FFFFFF;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
}

div.custom-onsale-category-label-text {
    color:#FFFFFF;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
}



