<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Shopbybrand
 * @version    1.3.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><h1><?php echo $this->__(Mage::helper('awshopbybrand/config')->getAllBrandsTitle()); ?></h1>

<div class="all-brands-page-desc">
    <p>
        <?php echo $this->getDescription(); ?>
    </p>
</div>

<?php if ($this->getBrandCollection()->getSize() == 0): ?>
    <?php echo $this->__("No brands found"); ?>
<?php endif;?>

<?php foreach ($this->getBrandCollection() as $brand): ?>
    <div class="aw_brand_container">
        <a href="<?php echo $this->getBrandUrl($brand); ?>" class="aw_brands_url" title="<?php echo $this->escapeHtml($brand->getTitle()); ?>">
            <div class="aw_brand_logo">
                <img src="<?php echo $this->getImageUrl($brand, 150, 150); ?>"
                     width="150"
                     alt="<?php echo $this->escapeHtml($brand->getTitle()); ?>"
                     title="<?php echo $this->escapeHtml($brand->getTitle()); ?>"
                    />
            </div>
            <div class="aw_brand_title"><?php echo $this->escapeHtml($brand->getTitle()); ?></div>
        </a>
    </div>
<?php endforeach;?>