<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Shopbybrand
 * @version    1.3.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($menu = $this->getCategoriesMenu()): ?>
    <li class="level0 nav-99 level-top last parent">
        <a href="<?php echo $this->getAllBrandsUrl(); ?>" class="level-top">
            <span><?php echo $this->getAllBrandsTitle(); ?></span>
        </a>
        <ul class="level0">
            <?php
                $key = 1;
                foreach ($menu as $item): ?>
                <li class="level1 nav-99-<?php echo $key++; ?> <?php echo $key - 1 == 1 ? 'first' : ''; ?> <?php echo $key - 1 == $menu->getSize() ? 'last' : ''; ?>">
                    <a href="<?php echo $item->getUrl(); ?>">
                        <span><?php echo $item->getTitle(); ?></span>
                    </a>
                </li>
            <?php endforeach;?>
        </ul>
    </li>
<?php endif; ?>