<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Shopbybrand
 * @version    1.3.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /* @var $this AW_Shopbybrand_Block_Widget */ ?>
<?php if ($this->canShow()) : ?>
    <div class="aw-sbb-more-product-from-brand">
        <p class="aw-sbb-more-product-from-brand-label"><?php echo $this->__('More from same brand'); ?></p>
        <div class="aw-sbb-product-list-container">
            <?php $_i = $_ulOpened = $_ulClosed = 0; ?>
            <?php $productCollection = $this->getProductCollection(); ?>
            <?php foreach ($productCollection as $_product) : ?>
                <?php if ($_i % $this->getColumnCount() == 0) : ?>
                    <?php $_ulOpened++; ?>
                    <ul>
                <?php endif; ?>
                        <li class="aw-sbb-product-container">
                            <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $this->stripTags($_product->getName(), null, true); ?>" class="product-image">
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($_product->getName(), null, true); ?>" />
                            </a>
                        </li>
                <?php if (($_i+1) % $this->getColumnCount() == 0) : ?>
                    <?php $_ulClosed++ ?>
                    </ul>
                <?php endif ?>
                <?php $_i++; ?>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>