		<div class="entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head fieldset-legend head-billing-address">Ddate Customer comment</h4>
			</div>
			<fieldset id="ddate-comment">				
				<textarea cols="15" rows="2" name="order[ddate_comment]" id="order-ddate_comment" style="width:98%; height:8em;"></textarea>
			</fieldset>
		</div>
