div.aw_brand_container {
    float: left;
    min-height: 180px;
    text-align: center;
    width: 150px;
    background-color: white;
    border: 1px rgba(245, 237, 237, 0.37) outset;
    padding: 8px;
    margin: 5px;
}

div.aw_brand_logo {
    float: left;
    border: 1px rgb(233, 233, 233) solid;
    margin-bottom: 5px;
    width: 150px;
    min-height: 150px;
}

div.aw_brand_title {
    font-size: 15px;
    font-weight: bold;
}

a.aw_brands_url,
.shopbybrands-brand-page a {
    text-decoration: none;
}

ul.brands-list {
    padding: 10px;
    list-style: none;
}

li.brands-item {
    padding: 5px;
}

span.brand-name {
    padding-left: 10px;
}

li.brands-item a {
    text-decoration: none;;
}

div.brand_details {
    margin-left: 170px;
}

div.brand_container {
    padding: 5px;
    border: 1px rgb(235, 235, 235) solid;
    margin-bottom: 5px;
    min-height: 150px;
}

/* More from this brand section */
.aw-sbb-more-product-from-brand {
    background-color: #f1ecdb;
    border: thin solid #e5dcc3;
    display: inline-block;
    padding: 10px;
}

.aw-sbb-more-product-from-brand-label {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.aw-sbb-product-list-container {
    display: inline-block;
}

.aw-sbb-product-container {
    display: inline-block;
    margin: 5px;
    border: thin solid #e5dcc3;
}

.aw-sbb-product-container:hover {
    border: thin solid #bab199;
}