.aw-mobiletracing-center-contents .aw-mt-credentials LABEL {
    display:block;     
    clear:both; 
}

.aw-mobiletracing-center-contents .aw-mt-credentials INPUT[type=text] {
    display:block;    
    margin: 5px auto 5px 0;
    clear:both; 
}


.aw-mobiletracing-center-contents .title-buttons, .aw-mobiletracing-center-contents .buttons-set {
    display:none;
}


.aw-mt-credentials IMG { 
    
    border: none;
    
}

