<style>
    body{
        color: #000;
        font-size: 15px;
    }
    #first{
        width:75%;
    }
    table{
        width:100%;
    }
    td{
        width: 25%;
    }
    .log-transfer{
        background: #DDDDFF;
        color: #fff;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        border: 1px solid #CCCCCC;
        font: 12px sans-serif;
        margin: 2px;
        padding: 2px;
    }
    img {
        margin-right: 5px;
    }
    .log-failed{
        background-color:#FDD;
    }
    .log-success{
        background-color:#DDF;
    }

</style>
<?php
$url1 = trim($this->actionTransfer(), '/');
$url2 = trim($this->linkTransfer(), '/');
?>
<script type="text/javascript">
    var ilog=0;
    var log=new Array();
    var conti=true;
    var stopTransfer=function(){
        if(conti){
            conti=false;
        }
    }
    var resumeTransfer=function(){
        if(!conti){
            conti=true;
            $('image-transfer').setAttribute('src', '<?php echo $this->getSkinUrl('images/ajax-loader.gif') ?>');
            transferData(conti);
        }
    }
    var processResult=function(text){
        if(text!=""){
            var re=new Array();
            re=text.split('-');
            return re;
        }
        return null;
    }
    var addImage=function(id){
        var path='<?php echo $this->getImageLink() ?>';
        $(id).innerHTML+="<span id='ajax-transfer'><img id='image-transfer' src='"+path+"' /></span>";
    }
    
    var transferData=function(con){
        if(con){
            var transfer=new Ajax.Request(
            '<?php echo $url1 ?>',
            {
                method:'post',
                onComplete:function(xhr){
                    if(xhr.responseText){
                        if(xhr.responseText=='1'){
                            $('status-transfer').innerHTML='Completed transfer';    
                            $('image-transfer').setAttribute('src', '<?php echo $this->getImageLinkStop() ?>');
                            $('data-transfering').innerHTML="";
                            conti=false;
                            return;
                        }
                        var res=processResult(xhr.responseText);
                        //$(res[3]).innerHTML=res[1]+ "  "+res[2]+"%";
                        if(res[3]) $('data-transfering').innerHTML=res[3];
                        if(res[2]!="100")
                        {
                            $('data-transfering').innerHTML=" &nbsp;&nbsp;&nbsp;"+res[2]+"% &nbsp;&nbsp;"+res[1]+"&nbsp;&nbsp; "+res[3]+"s" ;
                            $('status-transfer').innerHTML='Processed ';  
                            $('image-transfer').setAttribute('src', '<?php echo $this->getSkinUrl('images/ajax-loader.gif') ?>');
                        }else{
                            if(res[3]=='order') {
                                conti=false;
                            }
                            $('status-transfer').innerHTML='Completed transfer';    
                            $('image-transfer').setAttribute('src', '<?php echo $this->getImageLinkStop() ?>');
                        }
                        //addImage(res[3]);
                        if(res[0]){
                            if(res[4]=='failed'){
                                log[ilog]="<li class='log-failed'><img class='v-middle' src='<?php echo $this->getSkinUrl('images/error_msg_icon.gif') ?>'>"+res[0]+"</li>";
                            }else{
                                log[ilog]="<li class='log-success'><img class='v-middle' src='<?php echo $this->getSkinUrl('images/fam_bullet_success.gif') ?>'>"+res[0]+"</li>";
                            }
                            ilog++;
                        }
                    
                        var temp="";
                        var k=log.length-1;
                        var t=1;
                        while(t<=5&&k>=0){
                            temp+=log[k];
                            k--;
                            t++;
                        }
                        $('body_transfer').innerHTML=temp;
                    }
                    //alert(temp);
                    if(conti){
                        transferData(con);
                    }else{
                        $('image-transfer').setAttribute('src', '<?php echo $this->getImageLinkStop() ?>');
                        $('status-transfer').innerHTML='Paused ';  
                    }
                }
            }
        )
        }
    }
    //transferData(conti);
    var index=1;
    //var i=1;
    var a=setInterval(showRow, 2000);
    function showRow(){
        var row=$('row-'+index);
        if(row)
            row.style.display='block';
        index++;
        if(index>7){
            clearInterval(a) ;
            <?php
            if ($this->checkAllConfig()) {
                ?>
                    conti=false;
                    $('status-transfer').innerHTML="No data to transfer !";
                    $('image-transfer').setAttribute('src', '<?php echo $this->getSkinUrl('images/ajax-loader.jpg') ?>');
                <?php
            }
            ?>
                        transferData(conti);
                    }
                }

</script>
<body id="body">
    <ul>
        <li style="height:25px;">
            <button type="buton" style="float:right;width: 100px;height: 25px;" onclick="resumeTransfer()">Resume</button>
            <button type="buton" style="float:right;width: 100px;height: 25px;" onclick="stopTransfer()">Stop</button>
        </li>
        <li id="row-1" style="display:none;">
            <img style="margin-right:5px" class="v-middle" src="<?php echo $this->getSkinUrl('images/note_msg_icon.gif') ?>" />Starting transfer data to Crm system , please wait ...
        </li>
        <li id="row-2" style="background-color:#FFD;display:none;">
            <img style="margin-right:5px" class="v-middle" src="<?php echo $this->getSkinUrl('images/fam_bullet_error.gif') ?>">Warning : Please do not close this window during transfer data !
        </li>
        <li id="row-3" style="background-color:#DDF;display:none; ">
            <img class="v-middle" src="<?php echo $this->getSkinUrl('images/fam_bullet_success.gif') ?>">Start checking data ...
        </li>
        <li id="row-4" style="background-color:#DDF;display:none; ">
            <img class="v-middle" src="<?php echo $this->getSkinUrl('images/fam_bullet_success.gif') ?>">Found <?php echo $this->getNumberDataHaveNotTransfered('customer') . "/" . $this->getNumberOfCustomer(); ?> customers who had been not transferred yet .
        </li>
        <li id="row-5" style="background-color:#DDF;display:none; ">
            <img class="v-middle" src="<?php echo $this->getSkinUrl('images/fam_bullet_success.gif') ?>">Found <?php echo $this->getNumberDataHaveNotTransfered('product') . "/" . $this->getNumberOfProduct(); ?> products that had been not transferred yet .
        </li>
        <li id="row-6" style="background-color:#DDF;display:none; ">
            <img class="v-middle" src="<?php echo $this->getSkinUrl('images/fam_bullet_success.gif') ?>">Found <?php echo $this->getNumberDataHaveNotTransfered('order') . "/" . $this->getNumberOfOrder(); ?> orders that had been not transferred yet .
        </li>
        <li id="row-7" style="background-color: #FFD;display:none;">
            <img style="margin-right:5px" id="image-transfer" class="v-middle" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif') ?>" id="updatedRows_img">
            <span class="text" id="updatedRows_status">
                <span id="status-transfer"></span> <strong id="data-transfering"></strong>
            </span>
        </li>
    </ul>
    <ul id="body_transfer"></ul>
</body>
