<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdeskultimate
 * @version    2.9.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Status change history')?></h4>
    </div>
    <div class="fieldset">
        <?php if ($this->getCollection()->count()): ?>
        <div class="hor-scroll">
            <table class="form-list" cellspacing="0">
                <thead>
                <tr>
                    <th><?php echo $this->__("Date")?></th>
                    <th><?php echo $this->__("Department/Customer");?></th>
                    <th><?php echo $this->__("Status");?></th>
                </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->getCollection() as $entry): ?>
                <tr>
                    <td class="label"><?php echo $this->formatDate($entry->getDate())?> <?php echo $this->formatTime($entry->getDate())?></td>
                    <td class="label"><?php echo $this->getChangerName($entry);?></td>
                    <td><?php echo $this->__(AW_Helpdeskultimate_Model_Status::getOption($entry->getData('custom_field_2')))?></td>
                </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php else: ?>
        <center><?php echo $this->__("No status change history");?></center>
        <?php endif; ?>
    </div>
</div>

