<?php
	/**
	 * Shop's menu template
	*/
?>
<?php //Zend_Debug::dump($this->getFieldsMap());die("dfff");?>
<?php $_htmlId = $this->getElement()->getHtmlId() ?>
<?php $_htmlClass = $this->getElement()->getClass() ?>
<?php $_htmlName = $this->getElement()->getName() ?>
<?php 
    if($_htmlName=='order_item' || $_htmlName=='invoice_item')
    {
        $type=$_htmlName;
    }else{
        $type=null;
    }
    $attributes=$this->getAttributesOfData($type);
    //Zend_Debug::dump($attributes);die();
    $crmfields=$this->getAllFieldsOfCrmModule($type);
?>
<tr>
	<td class="label"><?php echo $this->getElement()->getLabel() ?></td>
	<td colspan="10" class="grid">
		<table cellspacing="0" class="data border" id="<?php echo $_htmlName ?>_table">
			<col width="99" />
			<col />
			<col width="36" />
			<col width="36" />
			<col width="1" />
			<thead>
				<tr class="headings">
                                    <th><?php echo Mage::helper('magecrm')->__('Magento Field') ?></th>
					<th><?php echo Mage::helper('magecrm')->__('Crm Field') ?></th>
					<th><?php echo Mage::helper('magecrm')->__('Type') ?></th>
					<th><?php echo Mage::helper('magecrm')->__('PHP Code') ?></th>
					<th><?php echo Mage::helper('magecrm')->__('Action') ?></th>
				</tr>
			</thead>
			<tbody id="<?php echo $_htmlId ?>_container"></tbody>
			<tfoot>
				<tr>
					<td></td><td></td>
					<td colspan="4" class="a-right"><?php echo $this->getAddButtonHtml() ?></td>
				</tr>
			</tfoot>
		</table>
<script type="text/javascript">
//<![CDATA[
var <?php echo $_htmlName ?>RowTemplate = '<tr>'
	+ '<input type="hidden" name="<?php echo $_htmlName ?>[{{index}}][id]" id="<?php echo $_htmlName ?>_row_{{index}}_id" />'
	+ '<td>'
		+ '<select class="<?php //echo $_htmlClass ?>" name="<?php echo $_htmlName ?>[{{index}}][magento_name]" id="<?php echo $_htmlName ?>_row_{{index}}_magento_name" onchange="addMagentoLabel(this,{{index}})">'
                    <?php foreach($attributes as $att){
                        if($att["value"]=="-"){
                           ?>
                               +'<option value="<?php echo $att['value']; ?>"><?php echo $att["label"]; ?></option>'
                            <?php
                        }else{
                        ?>
                        + '<optgroup label="<?php echo $att['label']?>">'
                        <?php if(is_array($att['value'])){ foreach($att['value'] as $val){?>
                            +'<option value="<?php echo $val['value']; ?>"><?php echo $val["label"]; ?></option>'
                        <?php }}?>
                        +'</optgroup>'
                    <?php }}?>
                +'</select>'
                +'<input type="hidden" name="<?php echo $_htmlName ?>[{{index}}][magento_label]" id="<?php echo $_htmlName ?>_row_{{index}}_magento_label" />'
	+ '</td>'
	+ '<td>'
		+ '<select class="<?php //echo $_htmlClass ?>" name="<?php echo $_htmlName ?>[{{index}}][crm_name]" id="<?php echo $_htmlName ?>_row_{{index}}_crm_name" onchange="addCrmLabel(this,{{index}})" >'
                    <?php foreach($crmfields as $att){ ?>
                            +'<option value="<?php echo $att['value']; ?>"><?php echo $att["label"]; ?></option>'
                    <?php }?>
                +'</select>'
                +'<input type="hidden" name="<?php echo $_htmlName ?>[{{index}}][crm_label]" id="<?php echo $_htmlName ?>_row_{{index}}_crm_label" />'
	+ '</td>'
	+ '<td>'
		+ '<select class="<?php echo $_htmlClass ?> select" name="<?php echo $_htmlName ?>[{{index}}][type]" id="<?php echo $_htmlName ?>_row_{{index}}_type" onchange="disableTag(this,{{index}})">'
                        + '<option value="field">Field</option>'
			+ '<option value="code">PHP Code</option>'
                        + '<option value="select">Select</option>'
		+ '</select>'
	+ '</td>'
	+ '<td>'
		+ '<textarea class="<?php echo $_htmlClass ?>" name="<?php echo $_htmlName ?>[{{index}}][code]" id="<?php echo $_htmlName ?>_row_{{index}}_code" ></textarea>'
	+ '</td>'
	+ '<td class="last">'
		+ '<input type="hidden" name="<?php echo $_htmlName ?>[{{index}}][delete]" class="delete" value="" id="map_field_row_{{index}}_delete" />'
		+ '<button title="<?php echo Mage::helper("magecrm")->__("Delete") ?>" type="button" class="scalable delete icon-btn" id="<?php echo $_htmlName ?>_row_{{index}}_delete_button" onclick="deleteField({{index}});return <?php echo $_htmlName ?>Control.deleteItem(event);">'
			+ '<span><?php echo Mage::helper("magecrm")->__("Delete") ?></span>'
		+ '</button>'
	+ '</td>'
	+ '</tr>';
var <?php echo $_htmlName ?>Control = {
	template: new Template(<?php echo $_htmlName ?>RowTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', "")),
	itemsCount: 0,
	addItem: function(){
		var data = {
                        id: 0,
			magento_name: '-',
                        magento_label:'',
			crm_name: '-',
                        crm_label:'',
			type: 'field',
			code: '',
			index: this.itemsCount++
		};
		if (arguments.length >= 7) {
                        data.id = arguments[0];
			data.magento_name = arguments[1];
                        data.magento_label=arguments[2]
			data.crm_name = arguments[3];
                        data.crm_label=arguments[4]
			data.type = arguments[5];
			data.code = arguments[6];
		}
		Element.insert($('<?php echo $_htmlId ?>_container'),{
			bottom: this.template.evaluate(data)
		});
                
                $('<?php echo $_htmlName ?>_row_' + data.index + '_id').value = data.id;
		$('<?php echo $_htmlName ?>_row_' + data.index + '_magento_name').value = data.magento_name;
                $('<?php echo $_htmlName ?>_row_' + data.index + '_magento_label').value = data.magento_label;
		$('<?php echo $_htmlName ?>_row_' + data.index + '_crm_name').value = data.crm_name;
                $('<?php echo $_htmlName ?>_row_' + data.index + '_crm_label').value = data.crm_label;
		$('<?php echo $_htmlName ?>_row_' + data.index + '_type').value = data.type;
		$('<?php echo $_htmlName ?>_row_' + data.index + '_code').value = data.code;
                if(data.type=='field'){
                    $('<?php echo $_htmlName ?>_row_' + data.index + '_code').disabled=true;
                    $('<?php echo $_htmlName ?>_row_' + data.index + '_magento_name').disabled=false;
                }else{
                    $('<?php echo $_htmlName ?>_row_' + data.index + '_code').disabled=false;
                    $('<?php echo $_htmlName ?>_row_' + data.index + '_magento_name').disabled=true;
                }
	},
	disableElement: function(el){
		el.disabled = true;
		el.addClassName('disabled');
	},
	deleteItem: function(event){
		var tr = Event.findElement(event, 'tr');
		if (tr){
			Element.select(tr, '.delete').each(function(elem){elem.value='1'});
			Element.select(tr, ['input','select']).each(function(elem){elem.hide()});
			Element.hide(tr);
			Element.addClassName(tr, 'no-display template');
		}
		return false;
        }
};
var disableTag=function(eval,index){
    name=eval.name.split('[')[0];
        if(eval.value=="field"){
            $(name+'_row_'+index+'_code').disabled=true;
            $(name+'_row_'+index+'_magento_name').disabled=false;
        }
        else{
            $(name+'_row_'+index+'_code').disabled=false;
            $(name+'_row_'+index+'_magento_name').disabled=true;
        }
    }
    var addMagentoLabel=function(eval,index){
        $('<?php echo $_htmlName ?>_row_'+index+'_magento_label').value=eval.options(eval.selectedIndex).text;
    }
    var addCrmLabel=function(eval,index){
        $('<?php echo $_htmlName ?>_row_'+index+'_crm_label').value=eval.options(eval.selectedIndex).text;
    }
    var deleteField=function(index){
                    var url="<?php echo Mage::getUrl('magecrm/adminhtml_mapping/delete')?>";
                    var id=$("<?php echo $_htmlName ?>_row_"+index+"_id").value;

                    if(id!=0){
                        var params={'id':id};
                        var load=new Ajax.Request(url, {
				method: "post",
                                parameters:params,
				onComplete:function(xhr){
                                },
				onFailure: ""
			});
                    }
                };
<?php
foreach($this->getFieldsMap($type) as $_item): ?>
<?php  echo $_htmlName ?>Control.addItem('<?php echo $_item['map_id'] ?>','<?php echo $this->jsQuoteEscape($_item['magento_name']) ?>','<?php echo $this->jsQuoteEscape($_item['magento_label']) ?>','<?php echo $this->jsQuoteEscape($_item['crm_name']) ?>','<?php echo $this->jsQuoteEscape($_item['crm_label']) ?>','<?php echo $_item['type'] ?>','<?php echo $_item['code'] ?>');
<?php endforeach ?>
//]]>
</script>
	</td>
</tr>
