<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Betterthankyoupage
 * @version    1.1.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * @var AW_Betterthankyoupage_Block_SectionOrderinformation $this
 */
?>
<?php if ( $this->shouldDisplaySection() ): ?>
    <div class="btyp-order-information-section">
        <h1><?php echo $this->__('Thank you for your purchase!') ?></h1>
        <?php if ( $this->shouldDisplayOrderNumber() ): ?>
            <?php if ( $this->isSingleOrder() ): ?>
                <?php if ( $this->getOrderNumber() ): ?>
                    <?php if ( $this->canViewOrder($this->getOrder()) ): ?>
                        <h2><?php echo $this->__('Order number: %s', '<a href="' . $this->getViewOrderUrl($this->getOrderId()) . '">' . htmlspecialchars($this->getOrderNumber()) . '</a>') ?></h2>
                    <?php else: ?>
                        <h2><?php echo $this->__('Order number: %s', $this->getOrderNumber()) ?></h2>
                    <?php endif; ?>
                <?php endif; ?>
            <?php else: ?>
                <?php $__html = ''; ?>
                <?php foreach ( $this->getOrders() as $__orderModel ): ?>
                    <?php if ( $__html ) $__html .= ', '; ?>
                    <?php if ( $this->canViewOrder($__orderModel) ): ?>
                        <?php $__html .= '<a href="' . $this->getViewOrderUrl($__orderModel->getId()) . '">' . htmlspecialchars($__orderModel->getIncrementId()) . '</a>' ?>
                    <?php else: ?>
                        <?php $__html .= htmlspecialchars($__orderModel->getIncrementId()) ?>
                    <?php endif; ?>
                <?php endforeach; ?>
                <h2><?php echo $this->__('Order numbers: %s', $__html) ?></h2>
            <?php endif; ?>
            <?php if ($profiles = $this->getRecurringProfiles()):?>
                <p><?php echo $this->__('Your recurring payment profiles:'); ?></p>
                <ul class="disc">
                    <?php foreach($profiles as $profile):?>
                        <?php $profileIdHtml = ($this->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getProfileUrl($profile)), $this->escapeHtml($this->getObjectData($profile, 'reference_id'))) : $this->escapeHtml($this->getObjectData($profile, 'reference_id')));?>
                        <li><?php echo $this->__('Payment profile # %s: "%s".', $profileIdHtml, $this->escapeHtml($this->getObjectData($profile, 'schedule_description')))?></li>
                    <?php endforeach;?>
                </ul>
            <?php endif;?>
        <?php endif; ?>
        <?php if ( $this->shouldDisplayInvoiceButton() ): ?>
            <?php if ( $this->isSingleOrder() ): ?>
                <?php if ( $this->canViewInvoice($this->getOrder()) ): ?>
                    <button type="button" title="View Invoice" class="button btn-invoice" onclick="setLocation('<?php echo $this->getViewInvoiceUrl($this->getOrderId()) ?>')"><span><span><?php echo $this->__('View Invoice') ?></span></span></button>
                <?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>
    </div>
    <br />
    <p><?php echo $this->getTextMessage() ?></p>
    <?php echo $this->getParentBlock()->getChildHtml('downloadable.checkout.success') ?>
<?php endif; ?>
