<?php $address_index = 'multiaddress'.$this->getAddressId();
	$session=Mage::helper('ddate')->find_delivery_info($this->getAddressId());
  	?>
<script type='text/javascript'>

	var currentSlide<?php echo $address_index; ?> = 1;
	var contentSlides<?php echo $address_index; ?> = "";
	var totalSlides<?php echo $address_index; ?>;
  
jQuery(document).ready(function(){
    jQuery("#slideshow-previous<?php echo $address_index; ?>").click(showPreviousSlide<?php echo $address_index; ?>);
    jQuery("#slideshow-next<?php echo $address_index; ?>").click(showNextSlide<?php echo $address_index; ?>);
  
    var totalWidth<?php echo $address_index; ?> = 0;
    totalSlides<?php echo $address_index; ?> = 0;
    contentSlides<?php echo $address_index; ?> = jQuery(".slideshow-content<?php echo $address_index; ?>");
    contentSlides<?php echo $address_index; ?>.each(function(i){
        totalWidth<?php echo $address_index; ?> += this.clientWidth;
        totalSlides<?php echo $address_index; ?>++;
    });
    jQuery("#slideshow-holder<?php echo $address_index; ?>").width(500*totalSlides<?php echo $address_index; ?>);
    jQuery("#slideshow-scroller<?php echo $address_index; ?>").attr({
        scrollLeft: 0
    });
    updateButtons<?php echo $address_index; ?>();
});

function showPreviousSlide<?php echo $address_index; ?>()
{
    currentSlide<?php echo $address_index; ?>--;
    updateContentHolder<?php echo $address_index; ?>();
    updateButtons<?php echo $address_index; ?>();
}

function showNextSlide<?php echo $address_index; ?>()
{
    currentSlide<?php echo $address_index; ?>++;
    updateContentHolder<?php echo $address_index; ?>();
    updateButtons<?php echo $address_index; ?>();
}

function updateContentHolder<?php echo $address_index; ?>()
{
    var scrollAmount = 0;
    contentSlides<?php echo $address_index; ?>.each(function(i){
        if(currentSlide<?php echo $address_index; ?> - 1 > i) {
            scrollAmount += this.clientWidth;
        }
    });
    jQuery("#slideshow-scroller<?php echo $address_index; ?>").animate({
        scrollLeft: scrollAmount
    }, 500);
}

function updateButtons<?php echo $address_index; ?>()
{
    if(currentSlide<?php echo $address_index; ?> < totalSlides<?php echo $address_index; ?>) {
        jQuery("#slideshow-next<?php echo $address_index; ?>").show();
    } else {
        jQuery("#slideshow-next<?php echo $address_index; ?>").hide();
    }
    if(currentSlide<?php echo $address_index; ?> > 1) {
        jQuery("#slideshow-previous<?php echo $address_index; ?>").show();
    } else {
        jQuery("#slideshow-previous<?php echo $address_index; ?>").hide();
    }
}
</script>        
        <?php if (!Mage::getStoreConfig("ddate/info/calender_display")) { ?>
			<ul>
				<li><div class="input-box">
						<input type="hidden" id="ddate:date<?php echo $address_index; ?>" name="ddate[date<?php echo $address_index; ?>]" value="<?php echo $session['ddate'];?>" title="<?php echo $this->__('Delivery Date') ?>" class="input-text required-entry" />
									   
						<input type="hidden" id="ddate:dtime<?php echo $address_index; ?>" name="ddate[dtime<?php echo $address_index; ?>]" value="<?php echo $session['dtime'];?>" title="<?php echo $this->__('Delivery Time') ?>" class="input-text required-entry" />
					</div>
				</li>
			</ul>
            <div class="delivery">
                <div class="deli_title">
                    <h6><a class="slideshow-previous" id="slideshow-previous<?php echo $address_index; ?>" href="#previous"><?php echo Mage::helper('ddate')->__('Previous 7 days') ?></a><a class="slideshow-next" id="slideshow-next<?php echo $address_index; ?>" ><?php echo Mage::helper('ddate')->__('Next 7 days') ?></a></h6>
                </div>
                <div class="deli_date_time">
                    <div class="deli_time">
                        <h6 style="height:29px;"><strong><?php echo Mage::getStoreConfig("ddate/info/first_column_header") ?></strong></h6>
                        <?php                        
                        $slots = $this->getSlots();
                        foreach ($slots as $slot) {
                            echo "<p>" . $slot->getDtime() . "</p>";
                        }
                        ?>
                    </div>
                    <div class="deli_date">
                        <div class="slideshow-area" id="slideshow-area<?php echo $address_index; ?>">
                            <div class="slideshow-scroller" id="slideshow-scroller<?php echo $address_index; ?>">
                                <div class="slideshow-holder" id="slideshow-holder<?php echo $address_index; ?>">
                                    <script>
                                        function selectDdate<?php echo $address_index; ?>(date, dtime){
                                            document.getElementById('ddate:date<?php echo $address_index; ?>').value = date;
                                            document.getElementById('ddate:dtime<?php echo $address_index; ?>').value = dtime;
                                            //document.getElementById('ddate:ampm').value = "am";
                                            jQuery('#slideshow-holder<?php echo $address_index; ?> ul li a').removeClass('ddate_day_active');
                                        }
                                    </script>
                                    <?php
									$currentTime = Mage::getSingleton('core/date')->timestamp();
                                    
                                    $weeks = $this->getNumberWeek();
                                    for ($w = 0; $w < $weeks; $w++):
                                        ?>
                                        <div class="slideshow-content<?php echo $address_index; ?> slideshow-content">

                                            <div class="deli_date_top">
                                                <ul>
                                                    <?php
                                                    for ($i = 7 * $w; $i < 7 * $w + 7; $i++) {
                                                        ?>
                                                        <li <?php if ($i % 2 != 0)
                                                echo 'class="oddrow"' ?>><?php echo $this->__( date('(D)', strtotime('+' . $i . ' day', $currentTime)) ) ?><span><?php echo date('m/j', strtotime('+' . $i . ' day', $currentTime)) ?></span></li>
                                                            <?php
                                                        }
                                                        ?>
                                                    <div class="clear"><span></span></div>
                                                </ul>
                                            </div>
                                            <div class="deli_date_top select_one">
                                                <ul>
                                                    <?php
                                                    foreach ($slots as $slot) {
                                                        for ($i = 7 * $w; $i < 7 * $w +7; $i++) {
                                                            $strDate = date('Y-m-d', strtotime('+' . $i . ' day', $currentTime));
															if($this->isEnabled($slot->getId(), $strDate)):
																?>
																<li <?php if ($i % 2 != 0) echo 'class="oddrow"' ?>>
<a href="#select" onclick="selectDdate<?php echo $address_index; ?>('<?php echo date('Y-m-d', strtotime('+' . $i . ' day', $currentTime)) ?>','<?php echo $slot->getDtimeId(); ?>');jQuery(this).addClass('ddate_day_active');" <?php if(date('Y-m-d', strtotime('+' . $i . ' day', $currentTime))== $session['ddate'] && $slot->getDtimeId() ==$session['dtime'] ) echo 'class="ddate_day_active"'; ?> ><?php echo Mage::helper('ddate')->__('Select') ?></a>
																</li>
															<?php else: ?>
																<li class="disablerow">&nbsp;</li>
															<?php
                                                            endif;
                                                        }
                                                        ?>

                                                    <?php } ?>

                                                    <div class="clear"><span></span></div>
                                                </ul>
                                            </div>
                                        </div>

                                        <?php
                                    endfor;
                                    ?>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"><span></span></div>
                </div>
            </div>

            <div style="margin:10px;">
                <img src="<?php echo $this->getSkinUrl('ddate/images/unavailable.jpg') ?>"> <?php echo Mage::helper('ddate')->__('Unavailable') ?>
            </div>
        <?php } else { ?>
			
			<link href="<?php echo $this->getSkinUrl('ddate/css/reduce-spacing.css');?>" id="skinhelper-compact" type="text/css" rel="alternate stylesheet"  />
			<script src="<?php echo $this->getSkinUrl('ddate/js/jscal2.js')?>" type="text/javascript"></script>
			<script src="<?php echo $this->getSkinUrl('ddate/js/lang/en.js')?>" type="text/javascript"></script>
			<link href="<?php echo $this->getSkinUrl('ddate/css/ddate.css')?>" type="text/css" rel="stylesheet">
			 <ul>
				<li><div class="input-box">
						<input type="hidden" id="ddate:date<?php echo $address_index; ?>" name="ddate[date<?php echo $address_index; ?>]" value="<?php echo $session['ddate'];?>" title="<?php echo $this->__('Delivery Date') ?>" class="input-text required-entry" />
									   
					</div>
				</li>
			</ul>
            <div style="margin:10px;">
                <table>
                    <tr>
                        <td valign="top">
                            <?php echo Mage::helper('ddate')->__('Choose your date'); ?>:
                            <input class="input-text required-entry" id="delivery_date<?php echo $address_index; ?>" type="text" name="delivery_date<?php echo $address_index; ?>" size="12" readonly>
                            <img src="<?php echo $this->getSkinUrl('ddate/images/grid-cal.gif') ?>" id="ddate-trigger-picker<?php echo $address_index; ?>"></img>
                        </td>                        
                    </tr>
					<tr>
						<td valign="top">
							<div id="dtimepicker<?php echo $address_index; ?>" class="dtimepicker">
							<div class="loading_slot">
										<label for="timedelivery"><?php echo $this->__('Delivery time:') ?></label>	
									<span class="ddate-please-wait-slot" style="display:none;">
								<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt="" /> &nbsp; <?php echo $this->__('Loading available delivery time...') ?> &nbsp;
								</span> 
								<div id="select_dtimepicker<?php echo $address_index; ?>"></div>
								</div>
								</div>                          
                        </td>
					</tr>
                </table>
            </div>
			<script type="text/javascript">		
				
				<?php
				$currentTime = Mage::getSingleton('core/date')->timestamp();
				$today=date('Ymd', strtotime("+0day",$currentTime));
				$maxday=date('Ymd', strtotime('+' .((int)Mage::getStoreConfig("ddate/info/weeks")*7). ' day', $currentTime));
				echo "var today".$address_index."=".$today.";";
				echo "var maxday".$address_index."=".$maxday.";";				
				$specialdays=Mage::helper('ddate')->getSpecialDayByList();
				$day_array=explode(";",$specialdays); 
				if(!empty($specialdays)){
				
					$script_text="var DISABLED_DATES = {";
					$i=0;$count= count($day_array);
					foreach($day_array as $day){
						$script_text=$script_text.str_replace("-","",$day).":true";
						if($i < $count) $script_text=$script_text.",";
						$i++;
					};
					$script_text=$script_text."}";
					echo $script_text;
					
				};
				
				
				?>;			
				
				
              RANGE_CAL_1<?php echo $address_index; ?> = new Calendar({
                          inputField: "delivery_date<?php echo $address_index; ?>",
                          dateFormat: "%B %d, %Y",
                          trigger: "ddate-trigger-picker<?php echo $address_index; ?>",
                          bottomBar: false,	
						  date:today<?php echo $address_index; ?>,
						  min:today<?php echo $address_index; ?>,
						  max:maxday<?php echo $address_index; ?>,
                          onSelect: function() { 
                                  var date =this.selection.print("%Y-%m-%d",this.selection.get());								
                                  var dateconfig =this.selection.print("<?php echo Mage::helper('ddate')->calendar_date_format();?>",this.selection.get());								
								 document.getElementById("delivery_date<?php echo $address_index; ?>").value = dateconfig;
								 document.getElementById("ddate:date<?php echo $address_index; ?>").value = date;
                                 this.hide();											
								jQuery(".ddate-please-wait-slot").css('display','block');
								jQuery(".dtime_select").css('display','none');
								jQuery('#select_dtimepicker<?php echo $address_index; ?>').html('');
								jQuery.ajax({			
									type: "POST",
									url: "<?php echo Mage::getUrl('checkout/onepage/findDtime')?>",			
									data: "deliverydate="+date+">"+this.selection.print("%w",this.selection.get()),
									success: function(msg){		
											jQuery(".ddate-please-wait-slot").css('display','none');
											msg=msg.replace("ddate:dtime","ddate:dtime"+'<?php echo $address_index; ?>');
											msg=msg.replace("ddate[dtime]","ddate[dtime"+'<?php echo $address_index; ?>]');
											jQuery('#select_dtimepicker<?php echo $address_index; ?>').html(msg);											
										}
									});

						


						//
						},<?php if(!empty($specialdays)){ ?>
							disabled : function(date) {
								date = Calendar.dateToInt(date);
								return date in DISABLED_DATES;
							}
						<?php };?>				
						
						
                  });					
					
            </script>  
			
			
        <?php } ?>
		
		

        <div style="margin:10px; <?php if (!Mage::getStoreConfig("ddate/info/comment"))
            echo 'display:none;' ?>">
            <?php echo Mage::helper('ddate')->__('Your Comment') ?>: <br/>
            <textarea name="ddate[ddate_comment<?php echo $address_index; ?>]" id="ddate:ddate_comment<?php echo $address_index; ?>" rows="3" cols="55" value='<?php echo (!empty($session['mwcomment'])?$session['mwcomment']:Mage::helper('ddate')->__('No comment'));?>'><?php echo (!empty($session['mwcomment'])?$session['mwcomment']:Mage::helper('ddate')->__('No comment'));?></textarea>
        </div>   

<div class="clear"><span></span></div>
