
<style>
    #fb-like-id-behavior span{
        <?php
        if ($this->showSendFacebook()):
            echo 'width: 130px !important;'
            ?>

            <?php
        else:
            echo 'width: 80px !important;';
            ?>
        <?php endif; ?>
    }
</style>
<?php
if (Mage::getStoreConfig('rewardpoints/group_social_setting/sc_display')) {
    $positions = Mage::getStoreConfig('rewardpoints/group_social_setting/sc_position_display');
    $controllerName = Mage::app()->getRequest()->getControllerName();
    if ($controllerName == 'product')
        $position = '2';
    else if ($controllerName == 'category')
        $position = '1';
    else
        $position = '0';
    if (in_array($position, explode(',', $positions))) {
        ?>
        <?php if ($this->_helper()->isEnable()): ?>
            <div id="fb-root"></div>
            <script>
                var html = document.getElementsByTagName("HTML")[0];
                var att = document.createAttribute("xmlns:fb");
                att.value = "http://ogp.me/ns/fb#";
                html.setAttributeNode(att);
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                window.twttr = (function(d, s, id) {
                    var t, js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                    return window.twttr || (t = {_e: [], ready: function(f) {
                            t._e.push(f)
                        }});
                }(document, "script", "twitter-wjs"));


            </script>
            <div <?php if ($controllerName == 'category') echo "style='height:45px'" ?>>
                <?php if ($this->showLikeFacebook()): ?>
                    <fb:like layout="<?php
                    if ($this->showCountLikeFacebook())
                        echo 'button_count';
                    else
                        echo 'standard';
                    ?>" show_faces="true" style="z-index: 100" id="fb-like-id-behavior" share="<?php
                             if ($this->showSendFacebook())
                                 echo 'true';
                             else
                                 echo 'false'
                                 ?>"></fb:like>
                         <?php endif; ?>
                         <?php if ($this->showTwitter()): ?>
                    <a class="twitter-share-button" data-url="<?php echo $this->getCurrentUrl() ?>" data-text="" <?php if (!$this->showCountTwitter()) echo "data-count='none'"; ?>>Tweet</a>
                <?php endif; ?>
                <?php if ($this->showGoogle()): ?>
                    <g:plusone  href="<?php echo $this->getCurrentUrl() ?>" size="medium" annotation="<?php if ($this->showCountGoogle()) echo 'bubble';
                else echo 'none'; ?>" callback="ajaxgoogle"></g:plusone>
                    <script>
                        (function() {
                            var po = document.createElement('script');
                            po.type = 'text/javascript';
                            po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(po, s);
                        })();
                    </script>
                    <?php endif; ?>
                <span <?php if ($controllerName == 'category') echo "style='display:block'" ?>>
                    <?php if (($this->showSendFacebook() || $this->showLikeFacebook() || $this->showTwitter() || $this->showGoogle()) && $this->enableSocial()) { ?>
                <?php if (Mage::getSingleton('customer/session')->isLoggedIn()) { ?>
                            <span><span id="referfriends-ajax-loader" style="display:none"><img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>" /></span></span>
                    <!--        <div id="behavior-ajax-loader" style="<?php if ($controllerName != 'category') echo 'float: right;'; ?>width:350px;position:relative;height:auto">-->
                    <!--                <div style="<?php if ($controllerName != 'category') echo 'float: right'; ?>">-->
                            <span id="behavior-ajax-loader" style="position:absolute">
                                <a href="<?php echo Mage::getUrl('rewardpoints/index/index') ?>" style="text-decoration: none">
                    <?php echo $this->_helper()->getIcon() ?>
                                </a>
                                <span id="social-info-behavior">
                    <?php echo $this->getSocialInfo() ?>
                                </span>
                            </span>
                            <!--        </div>-->
                <?php }else { ?>
                            <span><span id="referfriends-ajax-loader" style="display:none"></span></span>
                    <!--        <div id="behavior-ajax-loader" style="<?php if ($controllerName != 'category') echo 'float: right;'; ?>width:350px;position:relative">-->
                    <!--            <span style="<?php if ($controllerName != 'category') echo 'float: right'; ?>">-->
                            <span id="behavior-ajax-loader" style="position:absolute">
                                <a href="<?php echo Mage::getUrl('customer/account/login') ?>">
                    <?php echo $this->_helper()->__('Login or create an account') ?>
                                </a>
                                <span id="social-info-behavior">
                    <?php echo $this->_helper()->__(' &nbsp;to earn <b>Points</b> for sharing!') ?>
                                </span>
                            </span>
                            <!--        </div>-->
                        <?php } ?>
            <?php }else { ?>
                        <span><span id="referfriends-ajax-loader"></span></span>
                        <div id="behavior-ajax-loader"></div>
            <?php } ?>
                </span>
            </div>
        <?php endif; ?>

        <script>
            var login = '<?php echo Mage::helper('customer')->isLoggedIn() ?>';
            //twitter
            twttr.ready(function(twttr) {
                if (login) {
                    twttr.events.bind('tweet', function(event) {
                        var customerid = '<?php echo Mage::helper('customer')->getCustomer()->getId() ?>';
                        var store = '<?php echo Mage::app()->getStore()->getId() ?>';
                        var messageDefault = '<?php echo $this->getSocialInfo() ?>';
                        url = '<?php echo $this->getUrl('rewardpointsbehavior/index/tweet') ?>';
                        $('referfriends-ajax-loader').show();
                        $('behavior-ajax-loader').hide();
                        sendmail = new Ajax.Request(url, {
                            method: 'post',
                            parameters: {
                                customerid: customerid,
                                store: store
                            },
                            onSuccess: function(message) {
                                if (message.responseText != '') {
                                    document.getElementById('social-info-behavior').innerHTML = message.responseText;
                                } else {
                                    document.getElementById('social-info-behavior').innerHTML = messageDefault;
                                }
                                $('referfriends-ajax-loader').hide();
                                $('behavior-ajax-loader').show();
                            }
                        });
                    });
                }
            });

            function ajaxgoogle(obj) {
                var customerid = '<?php echo Mage::helper('customer')->getCustomer()->getId() ?>';
                var store = '<?php echo Mage::app()->getStore()->getId() ?>';
                var remove = obj.state;
                var link = obj.href;
                var messageDefault = '<?php echo $this->getSocialInfo() ?>';
                url = '<?php echo $this->getUrl('rewardpointsbehavior/index/googleplus') ?>';
                $('referfriends-ajax-loader').show();
                $('behavior-ajax-loader').hide();
                sendmail = new Ajax.Request(url, {
                    method: 'post',
                    parameters: {
                        customerid: customerid,
                        store: store,
                        remove: remove,
                        link: link
                    },
                    onSuccess: function(message) {
                        if (message.responseText != '') {
                            document.getElementById('social-info-behavior').innerHTML = message.responseText;
                        } else {
                            document.getElementById('social-info-behavior').innerHTML = messageDefault;
                        }
                        $('referfriends-ajax-loader').hide();
                        $('behavior-ajax-loader').show();
                    }
                });
            }

            window.fbAsyncInit = function() {
                FB.init({status: true, cookie: true, xfbml: true});

                FB.Event.subscribe('edge.create',
                        function(response) {
                            ajaxfacebook('like', false, response);
                        }
                );
                FB.Event.subscribe('edge.remove',
                        function(response) {
                            ajaxfacebook('unlike', false, response);
                        }
                );
                FB.Event.subscribe('message.send',
                        function(response) {
                            ajaxfacebook('send', false, response);
                        }
                );
            };
            function ajaxfacebook(action, remove, response) {
                if (login) {
                    var customerid = '<?php echo Mage::helper('customer')->getCustomer()->getId() ?>';
                    var store = '<?php echo Mage::app()->getStore()->getId() ?>';
                    var messageDefault = '<?php echo $this->getSocialInfo() ?>';

                    url = '<?php echo $this->getUrl('rewardpointsbehavior/index/facebook') ?>';
                    $('referfriends-ajax-loader').show();
                    $('behavior-ajax-loader').hide();
                    sendmail = new Ajax.Request(url, {
                        method: 'post',
                        parameters: {
                            customerid: customerid,
                            store: store,
                            action: action,
                            remove: remove,
                            link: response
                        },
                        onSuccess: function(message) {
                            if (message.responseText != '') {
                                document.getElementById('social-info-behavior').innerHTML = message.responseText;
                            } else {
                                document.getElementById('social-info-behavior').innerHTML = messageDefault;
                            }
                            $('referfriends-ajax-loader').hide();
                            $('behavior-ajax-loader').show();
                        }
                    });
                }
            }
        </script>
    <?php } ?>
<?php } ?>