
<div id="top"></div>
<div id="header_menu" class="clearfix"><?php echo $this->getChildHtml('currency') ?><?php echo $this->getWelcome() ?><?php echo $this->getChildHtml('store_language') ?></div>

<div class="header-container">
    <div class="header">
        
<div id="header_mainmenu" class="clearfix">

    <a href="<?php echo $this->getUrl('') ?>" class="mm_logo" style="background-image: url('<?php echo $this->getLogoSrc() ?>');"></a><a href="<?php echo $this->getUrl('') ?>" class="mm_home"><?php echo $this->__('Home') ?></a><a class="mm_wishlist" href="<?php echo $this->getUrl('wishlist')?>" id="wishlist-total"><?php echo $this->__('Wish List') ?></a><a class="mm_account" href="<?php echo $this->getUrl('customer/account')?>"><?php echo $this->__('My Account') ?></a><a class="mm_checkout" href="<?php echo $this->getUrl('checkout')?>"><?php echo $this->__('Checkout') ?></a>
<div id="cart" class="mm_shopcart" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')">
<div class="heading">
    <?php echo $this->getChildHtml('top_cart') ?>
</div>

</div>
</div>

       
        
            
           
    </div>
    <?php echo $this->getChildHtml('topMenu') ?>
    
<div class="search-bar">
<div id="phone">
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header_working_time')->toHtml(); ?>
</div>    
    <form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
        <div class="form-search" id="search" style="width: 100%;">
            <div class="search-input form-search" style="width: 95%;padding-left: 8px;">
                <input id="searches" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>" class="input-text" />
            </div>
            <button class="button-search" type="submit"></button>
            <div id="search_autocomplete" class="search-autocomplete"></div>
            <script type="text/javascript">
            //<![CDATA[
                var searchForm = new Varien.searchForm('search_mini_form', 'searches', '<?php echo $this->__('Search here...') ?>');
                searchForm.initAutocomplete('<?php echo $this->helper('catalogsearch')->getSuggestUrl() ?>', 'search_autocomplete');
            //]]>
            </script>
        </div>
    </form>
</div>
    
    <?php echo $this->getChildHtml('topBread') ?>
    <?php echo $this->getChildHtml('topContainer'); ?>

</div>