.btyp-section {  }

.btyp-order-information-section { text-align: center; }

.btyp-social-sharing-section { text-align: center; margin-top: 12px; }

.btyp-cms-block-section { margin-top: 12px; text-align: center; }

.btyp-cross-sell-block-section { margin-top: 24px; }
.btyp-cross-sell-block-section .products-grid {
    border-bottom: 0;
    display: inline-block;
    max-width: 632px;
    width: auto;
}
.btyp-cross-sell-block-section .title { font-weight: bold; font-size: 15px; color: #e26703; }
.btyp-cross-sell-block-section .products-grid li.item { padding: 12px 10px 10px; position: relative; }
.btyp-cross-sell-block-section .products-grid li.item .product-info { min-height: 160px; position: relative; }
.btyp-cross-sell-block-section .products-grid li.item .actions { position: absolute; bottom: 0; }

.btyp-newsletter-section { margin-top: 12px; }
.btyp-newsletter-section .validation-advice { position: absolute; }
.btyp-newsletter-section .buttons-set .actions { display: inline-block; float: left; padding: 1px 0 0 0; }
.btyp-newsletter-section .buttons-set .actions .block-subtitle { float: left; margin-right: 8px; padding-top: 2px; }
.btyp-newsletter-section .buttons-set .actions .input-box { float: left; padding-right: 20px; }

.btyp-section .an-subscribe .an-segments .an-checkboxes,
.btyp-section .an-subscribe .an-segments .an-radio {
    text-align: left;
}
