<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Mobiletracking
 * @version    1.0.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<table width="650" cellspacing="0" cellpadding="0" border="0" style="border:1px solid #EAEAEA;">
    <thead>
        <tr>
            <th bgcolor="#EAEAEA" align="left" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Tracker URL'); ?></th>           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top" align="left" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                <strong><?php echo $this->__('Check your shipment status using our'); ?></strong>&nbsp;<a href = "<?php echo $this->getTrackerUrl(); ?>" target="_blank"><?php echo $this->__('Mobile Order Tracking'); ?></a>&nbsp;<?php echo $this->__('module'); ?>
            </td>
        </tr>
    </tbody>
</table>



